*{
    box-sizing: border-box; 
}
#map{
    height: 500px;
    margin-bottom: 40px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    margin: 20px auto;
}
td{
    border: 1px solid;
    padding: 10px;
}
input[type="text"]{
    width: 320px;
}
