/*main styles*/

a{
    text-decoration: none;
    color: aliceblue;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1{ 
    margin: 0;
}
input{
    display: none;
}
input[type="text"]{
    display: block;
}
body { background: url('../images/background1.jpg');
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
button {
    background: rgba(255, 255, 0, 0.7);
    -webkit-box-shadow: 2px 0 2px black; 
    box-shadow: 2px 0 7px black;
    padding: 20px;
    color: antiquewhite;
    text-shadow: 1px 1px 1px red;
    font-size: 1.5em;
    text-align: center;
    display: block;
    width: 250px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.6s;
}
button:hover{
    color: gray;
    background: rgba(15, 255, 255, 0.7);
}

/* style of start page */
.wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.logo {z-index: 2;
    font-family: Arial;
    font-size: 2.2em;
    position: relative;
    top:20px;
    left: 100px;
    color: aliceblue;
    cursor: pointer;
    text-shadow: 0 0 5px red;
}

.logo:before {
    content: "";
    background: url(../images/sun.png);
    background-size: cover;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -10px;
    left: -110px;  
}

.logo:before{
    -webkit-animation: animatLogo 2s infinite linear;
    animation: animatLogo 1.5s infinite linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@-webkit-keyframes animatLogo{
    from{
 
        -webkit-transform: rotate(-15deg);
 
        transform: rotate(-15deg);
    }
    to{

        -webkit-transform: rotate(15deg);

        transform: rotate(15deg);
    }
}
@-webkit-keyframes animatlogo{
    from{
        -webkit-transition: rotate(45deg);
        transition: rotate(45deg);
    }
    to{
        -webkit-transition: rotate(-45deg);
        transition: rotate(-45deg);
    }
}
@keyframes animatlogo{
    from{
        -webkit-transition: rotate(45deg);
        transition: rotate(45deg);
    }
    to{
        -webkit-transition: rotate(-45deg);
        transition: rotate(-45deg);
    }
}

.start_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    transition: opacity 1s linear;
}

.main_pencil{ 
    height: 550px;
}
 
/* style of description page*/
.description_game{
    position: relative;
    width: 400px;
    margin-top: 120px;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255,0, 0.6);
    text-shadow: 1px 1px 1px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
    line-height: 1.2;
}

.butterfly{
    width: 100px;
    height: 100px;
    position: absolute;
}
.but1{
    top:  calc(100% - 50px);
    left: -50px;
    -webkit-transform: rotate(-135deg);
    transform: scale(0.5) rotate(-135deg);
    
}
.but2{
    top:  calc(100% - 50px);
    left: calc(100% - 50px);
    -webkit-transform: rotate(135deg);
    transform: scale(0.5) rotate(135deg);
}
.but3{
    top:  calc(0% - 50px);
    left: -50px;
    -webkit-transform: rotate(-45deg);
    transform: scale(0.5) rotate(-45deg);
}
.but4{
    top:  calc(0% - 50px);
    left: calc(100% - 50px);
    -webkit-transform: rotate(45deg);
    transform: scale(0.5) rotate(45deg);
}
/* style of records page*/
#table_records{
    width: 450px;
    text-align: center;
margin-top: 150px;
position: relative;
background-color: rgba(255, 255,0, 0.6);
border: 1px solid blue;
font-size: 1.5em;
box-shadow: 0 0 15px white;
padding: 20px;
color: antiquewhite;
    text-shadow: 1px 1px 1px red;
}
#table_records tr:nth-of-type(2) td{
    border-collapse: collapse;
    border: 1px solid blue;
    box-shadow: 0 0 15px white;
}

/* style of play page*/
#containerInfoGame{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#play{flex-wrap: wrap;
    padding-bottom: 30px;
    margin-top: 150px;
    background: linear-gradient(to top right, rgba(0, 255, 255, 0.7),rgba(255,255,0, 0.7));
    align-items: flex-start;
    box-shadow: 0 0 5px white;
}
input[type="radio"]:not(checked) + img{
    width: 130px;
    height: 170px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px 2px white;
}
#play h3{
    text-align: center;
    color: antiquewhite;
    text-shadow: 1px 1px 1px red;
    font-size: 1.5em;
}
#choice_difficult label{
    display: block;
    cursor: pointer;
    padding: 10px;
    background: rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 5px 2px whitesmoke;
    text-shadow: 1px 2px 3px white;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.6s;
}
input[type="radio"]:checked + label{
    color:red;
    box-shadow: 0 0 5px 2px gray !important;
    font-weight: bold;
    font-size: larger;
}
input[type="radio"] + img{
    transition: all 0.6s;
}
input[type="radio"]:checked + img{
    transform: translateY(-20px);
    box-shadow: 0 0 5px 2px gray;
}
#playerInfo div, label{
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 2px 3px white;
}
#btn_play{
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 30px;
}

/* style of board with cards*/
#board_cards{display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 1vw 0 1vw;
padding: 50px 4vw 10vh 4vw;
background: linear-gradient(to top right, rgba(0, 255, 255, 0.7),rgba(255,255,0, 0.7));
box-shadow: 0 0 20px white;
transition: opacity 3s linear;
}
.wrapper_card{
    width: 120px;
    height: 150px;
    margin: 5px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background: rgba(255, 255, 0, 0.7);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 10px 2px cyan;
}
.hidden{
    visibility: hidden;
}
.section_card{
    position: relative;
}
.wrapper_card span{
    width: 100%;
    height:100%;
   border-radius: 10px;
   position: absolute; 
    top:0;
    left: 0;
    backface-visibility: hidden;
}

.wrapper_card .face_card{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.back_card{
    cursor: pointer;
}

.flipped {
    transform: rotateY(180deg);
}
.hidden{
    visibility: hidden;
}

#timerStepsReset{
    text-align: center;
    display:none;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
transition: opacity 2s linear;
}

#timerStepsReset p{
    height: 30px;
    position: relative;
}
#timerStepsReset span{
    position: absolute;
    background-color: white;
    color: red;
    padding: 5px;
    border-radius: 5px;
}
#timerStepsReset #min{
    left:0;
}
#timerStepsReset #sec{
    right:0;
}
#timerStepsReset #numbersOfSteps{
    left:40%;
}
#timerStepsReset div,
#timerStepsReset button{
    width: 150px;
    background: linear-gradient(to top right, rgba(0, 255, 255, 0.7),rgba(255,255,0, 0.7));
box-shadow: 0 0 5px white;
    padding: 15px;
color: white;
font-size: 20px;
text-shadow: 1px 2px 3px red;
display: inline-block;
border-radius: 5px;
transition: all 0.6s linear;
}

/*congratulations + restart*/
#congratulations{
    color: white;
    font-size: 18px;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    transform: translateZ(0);
    will-change: transform;
    display: flex;
    position: absolute;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    top: -310px;
    left: calc(50% - 200px);
    border-radius: 7px;
    background: linear-gradient(to bottom, rgba(0, 174, 255, 0.7), rgba(18, 5, 137, 0.9));
    box-shadow: 0 0 5px 7px white;
    border: 1.5px solid black;
    transition: transform 4.5s ease-out;
}
#btn_new_game{
    padding: 5px;
}

/*media conditions*/
@media screen and (max-width: 768px) {
    .main_pencil{
        display: none;
    }
    .wrapper_button{
        margin-top: 150px;
    }
    
#btn_play{
    padding: 8px;
    order: 1;
    margin-top: 120px !important;
}
#play{
    order:2;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
#playerInfo{
    order:3;
}
input[type="radio"]:not(checked) + img{
    width: 95px;
    height: 135px;
}
#timerStepsReset div{
    padding: 7px;
}
}
@media screen and (max-width: 375px) {
    .description_game{
         width: 100vw;
    }
.description_game img{
    display: none;
}
    
}