a{
    text-decoration: none;
    color: aliceblue;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}
button {
    background: rgba(255, 255, 0, 0.7);
    -webkit-box-shadow: 2px 0 2px black; 
    box-shadow: 2px 0 7px black;
    padding: 20px;
    color: antiquewhite;
    text-shadow: 1px 1px 1px red;
    font-size: 1.5em;
    text-align: center;
    display: block;
    width: 250px;
    margin-bottom: 10px;
    cursor: pointer;
}


.wrapper {
    width: 100vw;
    background: url('../images/background1.png');
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
}
.wrapper:target{
    display: block;
}
.wrapper:not(target){
    display: none;
}
.wrapper_main:not(target){
    display: block;
}
.logo {
    font-family: Arial;
    font-size: 2.5em;
    position: relative;
    top:50px;
    left: 120px;
    color: yellow;
    text-shadow: 0 0 5px red;
}

.logo:before {
    content: "";
    background: url(../images/sun.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: -120px;
    
}
 .logo:before,
.logo:before,
.logo:before{
    -webkit-animation: animatLogo 2s infinite linear;
    animation: animatLogo 1.5s infinite linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@-webkit-keyframes animatLogo{
    from{
 
        -webkit-transform: rotate(-15deg);
 
        transform: rotate(-15deg);
    }
    to{

        -webkit-transform: rotate(15deg);

        transform: rotate(15deg);
    }
}
@-webkit-keyframes animatlogo{
    from{
        -webkit-transition: rotate(45deg);
        transition: rotate(45deg);
    }
    to{
        -webkit-transition: rotate(-45deg);
        transition: rotate(-45deg);
    }
}
@keyframes animatlogo{
    from{
        -webkit-transition: rotate(45deg);
        transition: rotate(45deg);
    }
    to{
        -webkit-transition: rotate(-45deg);
        transition: rotate(-45deg);
    }
}


.start_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}


.main_pencil{ 
    height: 550px;
}
.wrapper_balls{
    width: 100vw;
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 
    -ms-flex-pack: distribute;
 
    justify-content: space-around;
}
.wrapper_balls img{
    display: block;
    cursor:pointer;
}

.settings button{
    font-family: Arial;
    font-size: 1.5em;
    text-shadow: 0 0 2px red;
    width: 400px;  
    padding: 10px;
    cursor: pointer;
   background: rgba(255, 255, 0, 0.7);
    -webkit-box-shadow: 2px 0 2px black; 
    box-shadow: 2px 0 7px black;
    margin-left: calc(50% - 200px);
    margin-top: 20px;
}
.settings button:first-child{
    margin-top: 200px;
}
.description_game{
    position: relative;
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-top: 100px;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255,0, 0.6);
    text-shadow: 1px 1px 1px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
    line-height: 1.2;
}
.butterfly{
    position: absolute;
}
.but1{
    top:  calc(100% - 50px);
    left: -50px;
    -webkit-transform: rotate(-135deg);
    transform: scale(0.5) rotate(-135deg);
    
}
.but2{
    top:  calc(100% - 50px);
    left: calc(100% - 50px);
    -webkit-transform: rotate(135deg);
    transform: scale(0.5) rotate(135deg);
}
.but3{
    top:  calc(0% - 50px);
    left: -50px;
    -webkit-transform: rotate(-45deg);
    transform: scale(0.5) rotate(-45deg);
}
.but4{
    top:  calc(0% - 50px);
    left: calc(100% - 50px);
    -webkit-transform: rotate(45deg);
    transform: scale(0.5) rotate(45deg);
}
.learn_english{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.learn_english img{
    width: 300px; 
    height: 300px;
    margin-top: 50px;
   -webkit-transform-origin: 100% 100%; 
   transform-origin: 100% 100%;
-webkit-animation: transformBalls 0.6s infinite ease-in-out;
animation: transformBalls 0.6s infinite ease-in-out;
-webkit-animation-direction: alternate;
animation-direction: alternate;
}
@-webkit-keyframes transformBalls{
from{
-webkit-transform: skewX(3deg);
transform: skewX(3deg)
}
to{
-webkit-transform: skewX(-3deg);
transform: skewX(-3deg) 
}
}
@keyframes transformBalls{
from{
-webkit-transform: skewX(3deg);
transform: skewX(3deg)
}
to{
-webkit-transform: skewX(-3deg);
transform: skewX(-3deg) 
}
}

.learn_english #learn_puzzle{
  
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}
.word_eng{
    font: 32px Arial;
    color: white;
    text-shadow: 1px 1px yellow;
    -webkit-box-shadow: 0 0 0 5px gray;
    box-shadow: 0 0 5px 5px gray;
    padding: 30px;
    vertical-align:middle;
    background: rgba(0, 255, 255, 0.7);
}
.word_eng:hover{
     background: rgba(102, 102, 102, 0.7);
     -webkit-box-shadow: 0 0 5px 5px black;
     box-shadow: 0 0 0 5px black;
   
    -webkit-transition: all 0.6s;
   
    transition: all 0.6s;
}
.board table{
    border-collapse: collapse;
    margin-left: calc(50vw - 150px);
    margin-top: calc(50vh - 150px);
}
.board td{
    background: rgba(255,255,0, 0.7);
    border: 3px solid black;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .main_pencil{
        display: none;
    }
    .wrapper_button{
        margin-top: 150px;
    }
    .settings button img{
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    
}
@media screen and (max-width: 375px) {
    .description_game{
         width: 100vw;
        margin: 80px 0 0 0;
    
    }
    .settings button{
        width: 80vw;
        margin-left: 10vw;
    }
   .learn_english img{
        width: 200px;
        height: 200px;
       
    }
    
    
}