/*  style gallery */

.wrapper_gallery {
	position: relative;
	padding: 0 0 10px;
	overflow: hidden;
}

.topbar {
	position: relative;
	margin: 0;
	padding-bottom: 15px;
}

.back {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 60%;
	top: 50%;
	margin: -20px 0 0 -20px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	color: #008080;
	font-weight: bold;
	background: #ddd;
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	display: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-touch .back:hover {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}

.topbar h2,
.topbar h3 {
	display: inline-block;
	font-weight: 300;
	font-size: 40px;
	width: 49%;
	min-width: 320px;
	margin: 0;
}

.topbar h2 {
	padding-right: 20px;
	color: #666;
}

.topbar h3 {
	text-align: right;
	padding-left: 20px;
	color: #008080;
	font-size: 18px;
}

/* Loader */

.loader {
	left: 50%;
	position: absolute;
	margin-left: -120px;
}

.loader i {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-animation: loading 1s linear infinite forwards;
	animation: loading 1s linear infinite forwards;
}

.cssanimations .loader span {
	display: none;
}

.no-cssanimations .loader i {
	display: none;
}

.loader i:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader i:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader i:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loader i:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader i:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes loading {
	0% {
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155, 155, 155, 0.9);
	}
}

@keyframes loading {
	0% {
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.9);
	}

	100% {
		opacity: 1;
		-ms-transform: scale(0.25) rotate(75deg);
		background-color: rgba(155, 155, 155, 0.9);
	}
}

@keyframes loading {
	0% {
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(0.25) rotate(75deg);
		transform: scale(0.25) rotate(75deg);
		background-color: rgba(155, 155, 155, 0.9);
	}
}

@media screen and (max-width: 1006px) {
	.tp-grid {
		left: 7%;

	}
}

@media screen and (max-width: 676px) {
	.tp-grid {
		left: calc(50% - 125px);

	}
}

@media screen and (max-width: 680px) {
	.topbar h2,
	.topbar h3 {
		text-align: left;
		padding: 0;
		padding-left: 10px;
		display: block;
	}
	.back {
		left: auto;
		right: 0px;
		margin-left: 0px;
	}
	.tp-title span:nth-child(2) {
		display: none;
	}
	.tp-title {
		padding-right: 80px;
	}
	.tp-title span:nth-child(1) {
		margin-left: 0;
	}
}
