header {
    height: 55%;
    background: url('../image_main/slider3.jpg') no-repeat center;
    background-size: cover;
}

.wrapper_rent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.rent {
    overflow: hidden;
    width: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rent h3 {
    padding: 10px;
    text-align: center;
    border-bottom: 8px double gray;
    border-top: 8px double gray;
    position: relative;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.rent h3:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    outline: 8px solid gray;
}

/* силуэты-перевертыши */

.backfaces {
    width: 80%;
    height: 350px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.backfaces:hover {
    -webkit-animation: animationBack 1s infinite linear;
    animation: animationBack 1s infinite linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes animationBack {
    from {}
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes animationBack {
    from {}
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.back1 {
    background: url(../image_rent/velosiped.png) center no-repeat;
}

.front1 {
    background: url(../image_rent/velosiped2.png) center no-repeat;
}

.back2 {
    background: url(../image_rent/snow1.png) center no-repeat;
}

.front2 {
    background: url(../image_rent/snow2.png) center no-repeat;
}

.back3 {
    background: url(../image_rent/laz1.png) center no-repeat;
}

.front3 {
    background: url(../image_rent/laz2.png) center no-repeat;
}

.backfaces .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip:checked+.backfaces .front1,
#flip2:checked+.backfaces .front2,
#flip3:checked+.backfaces .front3 {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip:checked+.backfaces .back1,
#flip2:checked+.backfaces .back2,
#flip3:checked+.backfaces .back3 {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

/* targer or not target */

.choise_rent:not(:target) {
    display: none;
}

.choise_rent:target {
    margin: 15px 15px 0 15px;
    display: block;
    border: 3px solid gray;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    overflow: hidden;
}

/* lists */

.address {
    padding-left: 40%;
}

.fa-hand-pointer {
    display: block;
    position: absolute;
    top: 80%;
    left: 90%;
}

.text {
    margin: 0;
    padding: 60px 15px 15px 15px;
    text-align: justify;
}

.address .region {
    display: none;
    list-style: url("../image_rent/koleso_list.png");
    padding-left: 15px;
}

.address h5 {
    width: 150px;
    padding: 15px;
    border: 1px solid;
    font-size: 17px;
    margin: 10px;
    -webkit-box-shadow: 0 0 4px lightgray;
    box-shadow: 0 0 4px lightgray;
    background: rgba(0, 128, 128, 0.8);
    cursor: pointer;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.address h5:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

#region_address {
    display: none;
}

.region>li:hover>#region_address {
    display: block;
    margin-left: -20%;
}

.region>li:hover {
    font-weight: bolder;
    text-shadow: 2px 2px 2px teal;
}

.region>li {
    text-decoration: underline;
    padding-bottom: 10px;
    padding-left: 50px;
}

#region_address>li:hover {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    text-decoration: none;
}

#region1:checked~ul,
#region2:checked~ul,
#region3:checked~ul {
    display: block;
}

label {
    padding: 15px;
}

input {
    display: none;
}

/* media conditions */

@media screen and (max-width: 640px) {
    .rent {
        width: 80%;
        padding-left: 10%;
    }
    .region>li:hover>#region_address {
        margin-left: -50%;
    }
    .address {
        padding-left: 30%;
    }
}

@media screen and (max-width: 440px) {
    .rent {
        padding-left: 0;
        width: 100%;
    }
    .phone_rent {
        display: none;
    }
    .region>li:hover>#region_address {
        margin-left: 0%;
    }
    .address {
        padding-left: 20px;
    }
}
